{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block _nav2 %} {% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        {{ forloop.counter }}
        <div class="card-header">
            Категория: <a href="{{ news_i.category.get_absolute_url }}"> {{news_i.category}} </a>
        </div>
            <div class="card-body">
                {% if news_i.photo %}
                <img src="{{ news_i.photo.url }}" class="mr-3" width="350" alt="Photo">
                {% else %}
                <h6> Фото нет </h6>
                {% endif %}
            </div>
                <h5 class="card-title {% cycle 'text-primary' 'text-success' 'text-danger' %}">{{news_i.title}}</h5>
                {% autoescape off %}
                <p class="card-text">{{news_i.content|linebreaks }}</p>
                {% endautoescape %}
        <div class="card-footer text-body-secondary">
            {{ news_i.created_at|date:'Y-m-d H:i' }}
        </div>
    </div>
{% endblock %}




